{{define "breadcrumb"}}
<nav>
<ol class="breadcrumb">
{{range .NavItems}}
    <li class="breadcrumb-item" aria-current="page"><a href="{{.URL}}">{{.Name}}</a></li>
{{end}}
</ol>
</nav>
{{end}}