<div class="col">
    <div class="thumb-div">
    <a href="{{.ImageURL}}">
        <img class="thumb" src="/static/img/loading.gif" data-src="{{.ImageURL}}?width=300" alt="{{.Name}}">
    </a>
    </div>
</div>