{{define "file-item"}}

<div class="col">
    <a href="{{.LinkURL}}">
        <div class="file-border">
            <div class="file-thumb-div">
                <img class="file-thumb lazy" src ="/static/img/loading.gif" data-src="{{.ThumbURL}}?width=200" alt="{{.Name}}">
                </div>
            <span class="file-thumb-name">{{.Name}}</span>
        </div>
    </a>
</div>
{{end}}