{{define "folder-item"}}
<div class="col">
    <a href="{{.LinkURL}}">
        <div class="folder-border">
            <img class="folder-thumb lazy" src ="/static/img/loading.gif" data-src="{{.ThumbURL}}?width=200" alt="{{.Name}}">
            <span class="folder-thumb-name">{{.Name}}</span>
        </div>
    </a>
</div>
{{end}}