{{template "html-head" .}}

<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#"> Back</a>
        </li>
    </ul>
    <div class="my-2 my-lg-0">
      <button class="btn my-2 my-sm-0 btn-primary">Download</button>
    </div>
</nav>