@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$all-colors: map-merge-multiple($pinks, $yellows);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

@import "~bootstrap/scss/utilities/api";

body {
    font-family: sans-serif !important;
}

.fullscreen {
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.folder-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 1em;
}

@include media-breakpoint-up(lg) {
    .folder-container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@include media-breakpoint-up(xxl) {
    .folder-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

.file-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
}

@include media-breakpoint-up(lg) {
    .file-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@include media-breakpoint-up(xxl) {
    .file-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

#carouselControl {
    height: 90vh;
    max-height: 100%;
}