body {
    font-family: 'Source Sans Pro', 'Source Han Sans', sans-serif !important;
}

.fullscreen {
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.folder-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
    margin: 20px;
    background: black;
}

.folder-thumb-name {
    margin-top: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-weight: bold;
}

.folder-thumb {
    margin: auto;
}

.file-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
    margin: 20px;
    background: black;
    filter: saturate(50%);
}

.file-thumb-name {
    margin-top: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.file-thumb {
    margin: auto;
}