body {
    font-family: sans-serif !important;
}

.fullscreen {
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.folder-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 250px;
    margin: 20px;
    background: black;
    padding: 2px;
    border-style: double;
    border-color: gray;
    border-radius: 4px;
    border-width: 4px;
}

.folder-thumb-name {
    margin-top: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-weight: bold;
}

.folder-thumb-name > svg {
    width: 1em;
    height: 1em;
    margin: 4px;
}

.folder-thumb {
    margin: auto;
}

.folder-thumb-border {
    margin: 4px;
    width: 200px;
    height: 200px;
    background: url("../img/loading.gif") no-repeat fixed center;
}

.file-border {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 250px;
    margin: 4px;
    background: black;
    padding: 4px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    border-width: 1px;
}

.file-thumb-name {
    max-width: 20em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}

.file-thumb-name > svg {
    width: 1em;
    height: 1em;
    margin: 4px;
}

.file-thumb {
    margin: 4px;
    max-width: 200px;
    max-height: 200px;
}

.file-thumb-border {
    margin: 4px;
    width: 200px;
    height: 200px;
    background: url("../img/loading.gif") no-repeat fixed center;
}

.file-details {
    display: flex;
    flex-direction: column;
}

#carouselControl {
    height: 90vh;
    max-height: 100%;
}